In [2]:
name='12'
age=12
f"hello,{name}.You {age}"

'hello,12.You 12'

In [5]:
import pandas as pd

df=pd.DataFrame(np.ones([4,4]))
df[0].rolling(3).mean()

0    NaN
1    NaN
2    1.0
3    1.0
Name: 0, dtype: float64

In [15]:
df = pd.DataFrame.from_dict({'ID' :[13453466,44,6343,66577,243423]})
df['Padded'] = [f'{x:09}' for x in df['ID']]
df['Padded2'] = df['ID'].apply(lambda x: f'{x:09}')
print(df)

         ID     Padded    Padded2
0  13453466  013453466  013453466
1        44  000000044  000000044
2      6343  000006343  000006343
3     66577  000066577  000066577
4    243423  000243423  000243423

In [22]:
df = pd.DataFrame.from_dict({'Value' :[234534.43, 987324543.34, 1234345.34, 8234.43]})
df['Currency'] = [f'${x:,.2f}' for x in df['Value']]
df['Currency 2'] = df['Value'].apply(lambda x: f'${x:,.2f}')
print(df)

          Value         Currency       Currency 2
0  2.345344e+05      $234,534.43      $234,534.43
1  9.873245e+08  $987,324,543.34  $987,324,543.34
2  1.234345e+06    $1,234,345.34    $1,234,345.34
3  8.234430e+03        $8,234.43        $8,234.43